<ion-header>
</ion-header>

<ion-content >
  <div class="container">
  <ion-grid [fixed]="true">
    <ion-row>
      <ion-col size="auto"><img src="../../assets/Group 3vibrarizq.png"/></ion-col>
      <ion-col size="auto"><h1>08:00 Am</h1></ion-col>
      <ion-col size="auto"><img src="../../assets/Group 2vibrar.png"/></ion-col>
    </ion-row>
  </ion-grid>
  <button class="verButton" (click)="goVer()">Ver</button>
  <button class="realizadaButton" (click)="goCalendario()">Realizada</button>
</div>
</ion-content>
