#container {
    text-align: center;
    background-color: #B0E0E6;
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    height: 100%;
    padding-top: 15%;
  }
  
  #logo{
    margin: 10px;
    width: 40%;
  }
  .form-group{
    height: 55px;
    border-color: #F06489;
  }
  .inputIcon{
    background-color: white;
    border: 1px solid #F06489;
    max-width: 300px;
    place-items: center;
    height: 55px ;
    margin-bottom: 20px ;  
  }
  
  #formulario{
    align-content: center;
    display: inline-block;
  }
  
  .iconInput{
    padding: 10px;
    margin: 5px;
  }
  
  .textInput{
    padding: 10px;
    text-align: center;
  }
  
  form {
    padding:20px;
    font-weight:bold;
    margin:10px;
    border-radius:20px;
   }
  
   input {
    width: 60%;
    padding: 15px;
    margin:4px;
    box-sizing: border-box;
    padding-left:10px;
    border: 1px solid #F06489;
   }
  
   .Icon-inside {
    position:relative;
   }
  
   .Icon-outside {
    position:relative;
   }
  
   .Icon-outside i {
    position:absolute;
    margin-left:-6px;
    top:4px;
    padding:17px 15px;
    color:#30A3F1;
    background:black;
   }
  
   .buttonForm{
    width: 25%;
    margin-top: 20px;
   }

   .separador {
    background-color: #F06489;
   }
   .separadorAbajo {
    background-color: #F06489;
    margin: 5px;
   }