.gridDetalles{
    margin: 20px;
}
ion-row{
    margin: 20px;
}
img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    width: 40%;
}
.imgAudio{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    width: 60%;
}
ion-button{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 80px;
    width: 40%;
}

.headerdate{
    width: 100%;
    display: inline-flex;
    padding-left: 10px;
}
ion-icon{
    padding: 10px;
}
.warningg{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    width: 60%;
    text-align: center;
}