.iconButton{
    background-color: white;
    justify-content: right;
}
.headerdate{
    width: 100%;
    display: inline-flex;
    padding-left: 10px;
}
.subtitle{
    width: 90%;
    align-self: center;
    text-align: center;
}
.buttonIcon{
    width: 10%;
    background-color: white;
    margin: 20px;
}
ion-menu::part(backdrop) {
    background-color:#B0E0E6;
}
  
ion-menu::part(container) {
    border-radius: 0 20px 20px 0;
    box-shadow: 4px 0px 16px #D9D9D9;
}
.separador {
background-color: #CCCCCC;
}
.separadorAbajo {
background-color: #CCCCCC;
margin: 5px;
}