<ion-header collapse="condense">
</ion-header>
<body>
  <ion-content [fullscreen]="true" id="fullcontainer">  
    <div id="container">
      <img id="logo" src="../../assets/applogo_alarm.png"/>
      <p></p>
      <form>
        <div class="Icon-inside">
          <input type="text" placeholder="Usuario">
        </div>
        <div class="Icon-inside">
          <input type="password" placeholder="Contraseña">
        </div>
        <div class="form-group">
          <ion-button id="iniciar" color="danger" class="buttonForm" [routerLink]="['/calendario']" routerLinkActive="router-link-active" >Iniciar</ion-button>
        </div>        
        <div class="form-group">
          <ion-button color="danger" fill="outline" class="buttonForm" [routerLink]="['/registrar']" routerLinkActive="router-link-active" >Registrar</ion-button>
        </div> 
        <!-- <div class="form-group">
          <ion-button color="danger" fill="outline" class="buttonForm" [routerLink]="['/ver-alarma']" routerLinkActive="router-link-active" >Ver Alarma</ion-button>
        </div>  -->
      </form>
    </div>
  </ion-content>
</body>